*{
  background-color: #BC0B0B;
  padding: 0;
}

/* para telas pequenas */
@media only screen and (max-width: 600px){
  .geral{
    display: flex;
    justify-content: center;
    padding: 50px;
    text-align: center;
  }
  
  .icon{
    border-radius: 50px;
    height: 100px;
    width: auto;
  }
  div{
    padding: 5px;
  }
}
/* para telas grandes */
@media only screen and (min-width: 600px){

  .geral{
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
  }
  
  .icon{
    border-radius: 50px;
    height: 100px;
    width: auto;
  }

  .username{
    font-weight: bold;
    font-size: 15px;
  }
  
}


